:root {
    --bg-dim: #f0f0f0;
}

.w-site {
    width: 16rem;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

.byte {
    position: relative;
}

.byte.unused .byte-hex {
    opacity: 0.5;
}

.byte-input:not(.show) {
    opacity: 0;
    pointer-events: none;
}

.byte-input, .byte-display:hover::after {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
}

.byte-display {
    position: relative;
}

.byte-display:hover::after {
    content: '';
    background-color: var(--bg-dim);
    z-index: -1;
}

.byte-tooltip {
    position: absolute;
    top: 2rem;
    left: -0.25rem;
    background-color: var(--bg-dim);
    padding: 0.25rem;
    z-index: 1;
}

.byte-tooltip::after {
    --size: 0.5rem;

    content: '';
    border-width: 0 var(--size) var(--size);
    border-style: solid;
    border-color: transparent transparent var(--bg-dim);
    position: absolute;
    top: calc(-1 * var(--size));
    left: 0.35rem;
}

.byte-display:not(:hover) .byte-tooltip {
    display: none;
}

.leb-preview:empty {
    display: none;
}
